# IS362 Final Project
Michael Hernandez
Timothy Lynch

In [38]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

res = requests.get("https://www.cdc.gov/nchs/pressroom/states/newyork/newyork.htm")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')
df = pd.read_html(str(table))
for dataframe in df:
    dataframe.drop(dataframe.tail(1).index,inplace=True)
ny_death_data_2017 = df[1]
ny_death_data_2016 = df[5]
ny_death_data_2015 = df[9]
ny_death_data_2014 = df[13]

In [35]:
ny_death_data_2017

,"NY Leading Causes of Death, 2017",Deaths,Rate***,State Rank*,U.S. Rate**
0,1. Heart Disease,44092,171.2,17th,165.0
1,2. Cancer,34956,141.2,41st,152.5
2,3. Accidents,7687,35.5,49th,49.4
3,4. Chronic Lower Respiratory Diseases,7258,28.9,48th,40.9
4,5. Stroke,6264,24.6,50th,37.6
5,6. Flu/Pneumonia,4517,17.7,10th,14.3
6,7. Diabetes,4176,16.8,47th,21.5
7,8. Alzheimer’s disease,3521,13.2,50th,31.0
8,9. Hypertension,2699,10.4,11th,9.0
9,10. Septicemia,2296,9.1,28th,10.6

In [39]:
ny_death_data_2016

,"NY Leading Causes of Death, 2016",Deaths,Rate***,State Rank*,U.S. Rate**
0,1. Heart Disease,44076,177.8,15th,165.8
1,2. Cancer,35368,147.5,39th,155.8
2,3. Accidents,7354,34.2,49th,47.4
3,4. Chronic Lower Respiratory Diseases,6860,28.4,48th,40.6
4,5. Stroke,6258,25.5,50th,37.3
5,6. Flu/Pneumonia,4513,18.3,4th,13.5
6,7. Diabetes,4038,16.9,44th (tie),21.0
7,8. Alzheimer’s disease,3349,13.1,50th,30.3
8,9. Septicemia,2545,10.5,23rd,10.7
9,10. Hypertension,2468,9.9,10th,8.6

In [36]:
ny_death_data_2015

,"NY Leading Causes of Death, 2015",Deaths,Rate***,State Rank*,U.S. Rate**
0,1. Heart Disease,44450,181.6,14th,168.5
1,2. Cancer,35089,148.4,42nd,158.5
2,3. Chronic Lower Respiratory Disease,7109,29.9,47th,41.6
3,4. Accidents,6515,30.2,49th,43.2
4,5. Stroke,6292,26.0,50th,37.6
5,6. Flu/Pneumonia,4881,20.0,7th (tie),15.2
6,7. Diabetes,4045,17.1,45th,21.3
7,8. Alzheimer’s disease,3174,12.6,50th,29.4
8,9. Septicemia,2601,10.9,24th,11.0
9,10. Hypertension,2287,9.3,11th,8.5

In [37]:
ny_death_data_2014

,"NY Leading Causes of Death, 2014",Deaths,Rate***,State Rank*,U.S. Rate**
0,1. Heart Disease,43116,178.3,16th,167.0
1,2. Cancer,35392,151.8,42nd,161.2
2,3. Chronic Lower Respiratory Disease,6806,29.1,48th,36.5
3,4. Stroke,6212,26.1,49th,40.5
4,5. Accidents,5945,27.6,49th,40.5
5,6. Flu/Pneumonia,4702,19.5,8th,15.1
6,7. Diabetes,4064,17.4,45th,20.9
7,8. Alzheimer’s disease,2639,10.7,50th,25.4
8,9. Septicemia,2568,10.8,22nd (tie),10.7
9,10. Kidney Disease,2207,9.3,41st,13.2